
</div style="margin: 20px 0px;">

<div class="footer-padding">
</div>
  <div style="text-align: center; background-color: rgb(124, 254, 124); padding:20px; color:rgb(37, 97, 37);">
    <p>Made with ❤️ by Team Crypto 22</p>
  </div>
</div>
</body>
</html>
