<%- include('partials/header'); %>

<div style="display: flex; justify-content: center; height: 400px; position: relative;">
<div style=" background: rgb(59, 59, 59);width: 100%; height: 100%; top: 0; z-index: 10; position: absolute; filter:blur(2px);padding: 40px 20px;background-image: url('https://images.unsplash.com/photo-1595856898575-9d187bd32fd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1097&q=80');">    

</div>
<div style="z-index: 11; position: absolute; padding:30px 20px;">
    <h1 style="font-size: xx-large;  color: white; font-weight: 900;">About</h1>
    <!-- <p><%=aboutContent%></p> -->
    <p style="font-size:x-large; color: white; font-weight:900;">
        Start-Up for rural and urban development .We will provide a platform for people's to solve their problem of elctrician at any time and everywhere in the rural and urban areas.
        Through this platform we will link near by electrician of a particular area and also help them to get employment 
    </p>
</div>
</div>

<br>
<%- include('partials/footer')%>